/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	font-size: 15px!important;
}

.profile {
	max-width: 160px;
	max-height: 160px;
}

.portfolio-image {
	max-width: 360px;
    max-height: 260px;

    min-height: 260px;
}

.col-lg-offset-2-custom {
	margin-left: 18.666667%;
}

.bs-glyphicons li {
	background-color: #4E4E38!important
}